.u-section-1 .u-sheet-1 {
  min-height: 1735px;
}

.u-section-1 .u-text-1 {
  width: 359px;
  font-size: 1rem;
  margin: 17px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-image-1 {
  width: 1080px;
  height: 468px;
  margin: 8px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 30px 95px 0;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  width: 1025px;
  margin: 28px auto 0;
}

.u-section-1 .u-image-2 {
  width: 149px;
  height: 149px;
  margin: 16px auto 0 292px;
  border-radius: 10px;
}

.u-section-1 .u-text-4 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -135px 427px 0 457px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 36px auto 0 457px;
  padding: 8px 27px 8px 26px;
}

.u-section-1 .u-line-2 {
  transform-origin: left center 0px;
  width: 1025px;
  margin: 43px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1675px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 407px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
    height: 3px;
  }

  .u-section-1 .u-image-2 {
    width: 151px;
    height: 151px;
    margin-top: 6px;
    margin-left: 240px;
    border-radius: 10px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -131px;
    margin-right: 277px;
    margin-left: 406px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
    margin-right: 343px;
    margin-left: auto;
  }

  .u-section-1 .u-line-2 {
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1645px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 312px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 7px;
    margin-left: 149px;
    border-radius: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -130px;
    margin-right: 151px;
    margin-left: 310px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 41px;
    margin-right: auto;
    margin-left: 310px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1775px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 234px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    height: 13px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-left: 40px;
    border-radius: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    margin-right: 114px;
    margin-left: 201px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 33px;
    margin-left: 201px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1802px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 0.875rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 147px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 129px;
    height: 129px;
    margin-top: -3px;
    margin-left: 0;
    border-radius: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    margin-top: -119px;
    margin-right: 17px;
    margin-left: 141px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 28px;
    margin-left: 141px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}